{% extends "lab_10/layout/base.html" %}

{% block header %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'lab-10:index' %}" class="navbar-brand">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
              <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a></li>
           </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{author}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{author}}</strong></p>
                                        <p class="text-left small">{{kode_identitas}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Keluar?')">
                                                Logout </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}

{% block content %}

{% if watch_later_movies %}
  <table class="table">
    <thead style="background-color:black;color:white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Poster</th>
        <th scope="col">Duration</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in watch_later_movies %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{movie.title}}</td>
        <td><img src="{{movie.poster}}"/></td>
        <td>{{movie.runtime}}</td>
        <td><a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary'> Detail </a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-danger text-center">
      <strong>Oops!</strong> No movies added.
  </div>
{% endif %}
{% endblock %}
