{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="lab8">
	<div id="ha">
		<center>
			<br><br><br><br><br>
			<h3 class="landing"> Connect with Facebook now! </h3>
			<button onclick="facebookLogin()" class="button-login">Login with Facebook</button>
		</center>
	</div>
</div>
{% endblock %}
