{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">   

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
    body {
        font-family: "Raleway";
    }
    h1 {
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 25px;
        background-color: #6d9292;
        text-align: center;
        padding: 6px;
        text-transform: uppercase;
        color: white;
    }
    .img-circle {
        border-radius: 50%;
    }
    footer {
        text-align: center;
    }
    p,ul {
        font-size: 18px;
    }
</style>

<body style="background-color: #e6f4f4">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
