.button-login{
	margin-top: 100px;
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

.feed{
	margin: 0 auto;
	background-color: #9fdefc; 
	text-align: center;
	width: 50%;
	height: 100px;
}

.postStatus{
	color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

.logout{
	color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

#postInput{
	width: 50%;
	height: 150px;
	text-align: center;
}

.feed h1, h2{
	font-size: 17px;
	color: white;
	text-align: center;
}

h1, h2, h3{
	color: white;
}

@import url('https://fonts.googleapis.com/css?family=Muli');
body{
   margin-top: 0px;
   font-family: Muli;
   background-color: #f6f6f6;
}
.container {
	margin-top: 40px;
	width: 80%;
	text-align: center;
}
footer {
	margin-bottom: 0px;
}
.profile {
	text-align: center;
}
.cover {
	text-align: center;
	margin-top: 20px;
	width:60%;
	margin-bottom: 0px;
}
.picture {
	margin-top: -99px;
	text-align: center;
	border-radius: 50%;
	padding: 8px;
	background-color: white;
	width: 100px;
}
.data {
	margin-top: -15px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: white;
	width: 60%;
	padding: 20px;
}
#postInput {
	margin-top: 30px;
	width: 60%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}