@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
   font-family: Muli;
   background-size:cover;
   background-repeat: no-repeat;
   background: linear-gradient(to bottom right, #f7cac9 0%, #92a8d1 100%);
}
.navbar-login {
    width: 300px;
    padding: 10px;
    padding-bottom: 0;
}
.navbar-login-session {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}
.icon-size {
    font-size: 87px;
}
.container {
	width: 80%;
}
.movie-title{
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	background-color: #ffffff;
}

.movie-title > * {
  padding-left: 30px;
  padding-bottom: 10px;
  flex: 1 50%;
}
.title{
  order: 1;
  flex-grow: 5;
}

#title > h1 {
	font-family: Quicksand;
	font-size: 45px;
}
.rating{
  order: 2;
  float: right;
  margin-top: 30px;
}
.rating>p{
  font-size: 24px;
}
.rating>p>small{
  font-size: 20px;
}
.rating>h5{
  margin-left: 60px;
  font-size: 20px;
}
.sub-text{
  order: 3;
}
.poster > img {
	height: 300px;
  float:left;
}
.poster {
	background-color: #030303;
	color: #ffffff;
	height: 300px;
}
.description>p{
  margin-left: 20px;
}
.poster > p {
  font-size: 16px;
}
.movie-score{
  margin-left: 20px;
}
.box{
  margin-top: 50px;
  margin-left: 20px;
}
.meta-box{
  background-color: #66CC33;
  width: 58px;
  padding: 5px;
  padding-left: 15px;
  float: left;
}
td > img {
  width: 150px;
}
#pic {
  margin-right: 30px;
}
tbody {
  background-color: #f6f6f6;
}
td {
  font-size: 18px;
}