{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portfolio</h1>
<hr/>
<section name="photo"><p style="text-align: center;"> <img class="img-circle" src="https://68.media.tumblr.com/b7c63ae15f639d3fb3af47b86cdcaead/tumblr_inline_owslhdSAq81qjbswy_500.png" align="center"></p> </section>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
