{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 45%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -140px;
        font-family:"Raleway";
        font-size: 20px;
        text-align: justify;
    }
</style>
<div class="center_screen">
    <p style="text-align: center"><img class="home-img" src="http://68.media.tumblr.com/c10d5d3a051bea641f1319a35c7626ba/tumblr_inline_owmu62neWU1uh8xrk_400.gif"></p>
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}