<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
    table, th, td {
      margin-top: 20px;
      border: 1px solid black;
      font-size: 20px;
      color: #ffffff;
      background-color: #000000;
      padding: 10px;
      text-align: center;
    } 
    td {
      border: 1px solid black;
      font-size: 20px;
      color: #000000;
      background-color: #a7c2c5;
      padding: 10px;
    }
    h3 {
      margin-top: 50px;
    }
    button {
      margin-top: 20px;
    }
    .subject, .date {
        font-size: 20px;
        color: #000000;
        background-color: #6d9292;
        padding: 10px;
    }
    .value, .activity {
        font-size: 20px;
        color: #000000;
        background-color: #a7c2c5;
        padding: 10px;
    }
    .home-img {
      border-radius: 50%;
    }
    body {
      font-family: "Montserrat";
    }
</style>
<body style="background-color: #e6f4f4">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">NAVBAR</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">HOME</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">DIARY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-4/">PORTFOLIO</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="/lab-5/">TODO LIST</a></li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/firansav/" target="_blank">INSTAGRAM</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
